node_modules
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

dist
build
output

*.swp
*.idea/
*.vscode/
.DS_Store

*.tmp
*.bak
*.backup
*.swp
*.lock
*.cache

Dockerfile*
docker-compose.yml