/*
SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

SPDX-License-Identifier: AGPL-3.0-or-later
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply w-full min-h-screen;
}

html {
  @apply font-sans scroll-smooth;

  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

svg {
  @apply inline-block;
}

img {
  @apply object-cover object-center;
}

.__clickable {
  @apply transition-opacity duration-200 cursor-pointer;
}

.__center {
  @apply mx-auto w-full px-6 m-auto flex;
}

@media (max-width: theme('screens.md')) {
}
